:root {
  --white: #F9F7F5;
  --greentint: #c4f8de;
  --purpletint: #dec4f8;
  --gunmetal: #1D212E;
  --greendark: #212E1D;
  --reddark: #2E1D21;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Lora', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
  --user-font-scale: 1rem - 16px;
  font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
}

body {
  width: 100%;
  min-height: 100vh;
  background: #F9F7F5;
  color: #1D212E;
}

.page-wrap {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1D212E;
    color: #F9F7F5;
  }
}
