main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.big-component {
  grid-column: span 4;
}

.medium-component {
  grid-column: span 2;
}

.small-component {
  grid-column: span 1;
}

.description__container {
  height: 60vh;
  width: 90%;
  padding: 1rem;
  text-align: right;
  align-self: center;
  display: grid;
  place-content: center right;
}

.description__heading {
  font-size: clamp(2.5rem, calc(3rem + 1.5vw), 6rem);
}

.description__text {
  font-size: 1.5rem;
}

.placeholder {
  height: 450px;
  border: 1px solid orchid;
}

.front-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}