---
import Header from '../components/Header.tsx'
import Footer from '../components/Footer.tsx'
import metadata from '../components/Metadata.js'

---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{metadata.title}</title>
    <meta name="description" content={metadata.description}>

    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Rubik:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href={Astro.resolve("../styles/global.css")}>

</head>
<body class="min-h-screen bg-secondary text-primary dark:bg-primary dark:text-secondary">
    <div class="min-h-screen grid front-wrap max-w-screen-xl mx-auto">
        <Header />

        <main class="grid grid-cols-1">
            <section class="p-4 h-2/4 self-center grid content-center w-11/12 text-center md:text-right">
                <h2 class="text-bold text-5xl md:text-7xl">Frontend developer</h2>
                <p class="text-1xl md:text-2xl"> &hellip; working as a bicycle&nbsp;mechanic</p>
            </section>
            <figure class="p-4 w-11/12 lg:w-full self-center">
                <blockquote>
                    <p class="text-center md:text-right lg:text-center text-2xl md:text-3xl p-4">I consider myself a problem solver regardless of occupation.</p>
                </blockquote>
            </figure>
        </main>

        <Footer />

    </div> <!-- Layout wrap -->    
</body>
</html>
