---
const thisYear = new Date().getFullYear()
---

<style>
  .footer {
    display: flex;
    justify-content: center;
  }
</style>

<footer class="footer">
  <p>&copy; {thisYear} AOLar.no</p>
</footer>